@font-face {
  font-family: "Quicksand-Medium";
  src: url("../fonts/Quicksand-Medium.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Quicksand-Regular";
  src: url("../fonts/Quicksand-Regular.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1, h2, h3, h4, h5, h6,
p, ol, ul, figure, blockquote, dl, dd {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style-type: none;
}

img, picture, svg, video {
  max-width: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

a {
  text-decoration: none;
}

html, body {
  height: 100%;
}

body {
  font-size: 16px;
  color: #8d8d8d;
  line-height: 26px;
  font-family: "Quicksand-Medium", sans-serif;
  font-weight: 500;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  border: 1px dotted #ccc;
}

.accent-btn {
  border: none;
  font-size: 16px;
  line-height: 26px;
  font-family: "Roboto-Regular", sans-serif;
  background-color: #fe3e57;
  padding: 15px 35px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
}

.logo-link {
  display: block;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  background-color: #fff;
}

.menu__list {
  display: flex;
}
.menu__item + .menu__item {
  margin-left: 38px;
}
.menu__link {
  color: #29282d;
  text-transform: uppercase;
  padding: 2px;
  transition: all 0.3s;
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 400;
}
.menu__link:hover {
  color: #fe3e57;
  border-bottom: 1px solid #fe3e57;
}
.menu__link--active {
  color: #fe3e57;
  border-bottom: 1px solid #fe3e57;
}

.user-nav__list {
  display: flex;
}
.user-nav__item + .user-nav__item {
  margin-left: 25px;
}
.user-nav__link {
  height: 20px;
  width: 20px;
  background-image: url(../img/icons/user.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px 20px;
  display: block;
  position: relative;
}
.user-nav__item:nth-child(2) .user-nav__link {
  background-image: url(../img/icons/search.svg);
}
.user-nav__item:nth-child(3) .user-nav__link {
  background-image: url(../img/icons/heart.svg);
}
.user-nav__item:nth-child(3) .user-nav__link {
  background-image: url(../img/icons/cart.svg);
}
.user-nav__number {
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: #fe3e57;
  border-radius: 50%;
  top: -50%;
  right: -50%;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
}

.top-slider {
  background-color: #f6f6f6;
  background-image: url(../img/slider/bg-slider.png);
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 632px;
}
.top-slider__container {
  max-width: 1460px;
  margin: 0 auto;
  padding: 0 15px;
  padding-left: 145px;
  border: 1px dotted #ccc;
}
.top-slider__inner {
  display: flex;
  justify-content: space-between;
}
.top-slider__content {
  max-width: 570px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.top-slider__title {
  font-family: "Roboto-Bold", sans-serif;
  font-size: 58px;
  line-height: 68px;
  color: #29282d;
  margin-bottom: 40px;
}
.top-slider__text {
  margin-bottom: 60px;
}
.top-slider__btn {
  display: inline-block;
}
.top-slider .slick-dots {
  display: flex;
  justify-content: center;
  margin-top: -70px;
}
.top-slider .slick-dots li {
  margin: 0 5px;
}
.top-slider .slick-dots button {
  width: 28px;
  height: 28px;
  color: transparent;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
}
.top-slider .slick-dots button::before {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  background-color: #8d8d8d;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.top-slider .slick-dots li.slick-active button {
  border: 1px solid #fe3e57;
}
.top-slider .slick-dots li.slick-active button::before {
  background-color: #fe3e57;
}

.footer {
  background-color: #f6f6f6;
}

.footer-title {
  margin-bottom: 40px;
  font-size: 22px;
  line-height: 36px;
  color: #29282d;
  font-family: "Roboto-Medium", sans-serif;
  font-weight: 500;
}

.footer-top {
  padding: 70px 0 40px 0;
  border-bottom: 1px solid #ececec;
  display: flex;
}
.footer-top__item + .footer-top__item {
  margin-left: 30px;
}
.footer-top__contact {
  width: 270px;
}
.footer-top__contact .footer-top__list {
  margin-bottom: 30px;
}
.footer-top__info {
  width: 170px;
}
.footer-top__subscribe {
  max-width: 470px;
}
.footer-top__subscribe p {
  margin-bottom: 30px;
}
.footer-top__list-link {
  font-size: 16px;
  margin-bottom: 15px;
  display: block;
  color: #8d8d8d;
  font-family: "Quicksand-Medium", sans-serif;
  font-weight: 500;
}
.footer-top__list-link:hover {
  text-decoration: underline;
}
.footer-top__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-top__form-input {
  background-color: #fff;
  padding: 15px 20px;
  max-width: 320px;
  width: 100%;
  border: none;
  box-shadow: 0px 7px 20px 0px rgba(192, 192, 192, 0.3);
}

.footer-bottom {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.accept {
  display: flex;
  align-items: center;
}
.accept__list {
  display: flex;
}
.accept__item {
  margin-left: 22px;
}

.social-list {
  display: flex;
}
.social-list__item + .social-list__item {
  margin-left: 20px;
}
.social-list__link path {
  fill: #8d8d8d;
}
.social-list__link:hover path {
  fill: #fe3e57;
}