@font-face {
  font-family: "Quicksand-Medium", sans-serif;
  src: url("../fonts/Quicksand-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Quicksand-Regular", sans-serif;
  src: url("../fonts/Quicksand-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Roboto-Bold", sans-serif;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Roboto-Medium", sans-serif;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Roboto-Regular", sans-serif;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1, h2, h3, h4, h5, h6,
p, ol, ul, figure, blockquote, dl, dd {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style-type: none;
}

img, picture, svg, video {
  max-width: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

a {
  text-decoration: none;
}

body {
  font-size: 16px;
  color: #8d8d8d;
  line-height: 26px;
  font-family: "Quicksand-Medium", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  border: 1px dotted #ccc;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
  background-color: #fff;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu__item + .menu__item {
  margin-left: 38px;
}
.menu__link {
  color: #29282d;
  text-transform: uppercase;
  padding: 2px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-family: "Roboto-Regular", sans-serif;
}
.menu__link:hover {
  color: #fe3e57;
  border-bottom: 1px solid #fe3e57;
}
.menu__link--active {
  color: #fe3e57;
  border-bottom: 1px solid #fe3e57;
}

.user-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.user-nav__item + .user-nav__item {
  margin-left: 25px;
}
.user-nav__link {
  height: 20px;
  width: 20px;
  background-image: url(../img/icons/user.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px 20px;
  display: block;
  position: relative;
}
.user-nav__item:nth-child(2) .user-nav__link {
  background-image: url(../img/icons/search.svg);
}
.user-nav__item:nth-child(3) .user-nav__link {
  background-image: url(../img/icons/heart.svg);
}
.user-nav__item:nth-child(3) .user-nav__link {
  background-image: url(../img/icons/cart.svg);
}
.user-nav__number {
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: #fe3e57;
  border-radius: 50%;
  top: -50%;
  right: -50%;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
}