html, body {
    height: 100%;
}

body {
    font-size: 16px;
    color: $default-light-color;
    line-height: 26px;
    font-family: 'Quicksand-Medium', sans-serif;
    font-weight: 500;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    border: 1px dotted #ccc;
}

.accent-btn {
    border: none;
    font-size: 16px;
    line-height: 26px;
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
    background-color: $accent-color;
    padding: 15px 35px;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
}

.default-btn {
    border: 1px solid $accent-color;
    // border-bottom: 1px solid $accent-color;
    font-size: 16px;
    line-height: 26px;
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
    background-color: transparent;
    padding: 15px 35px;
    text-transform: uppercase;
    color: $default-dark-color;
    cursor: pointer;
    display: inline-block;
}

.dark-btn {
    border: none;
    font-size: 16px;
    line-height: 26px;
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
    color: #fff;
    background-color: $default-dark-color;
    padding: 15px 35px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
}

.section-title {
    font-family: 'Roboto-Bold', sans-serif;
    font-weight: 700;
    color: $default-dark-color;
    text-transform: uppercase;
    font-size: 48px;
    line-height: 26px;
    margin-bottom: 28px;
    text-align: center;
}

.page-title {
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: $default-dark-color;
}

.breadcrumbs {
    &__list {
        display: flex;
        align-items: center;
        // padding-left: 10px;
        position: relative;
        // border: 1px solid red;
        &::before {
            content: '';
            position: absolute;
            width: 18px;
            height: 18px;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            background-image: url(../img/icons/home-icon.svg);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 16px;
            color: $accent-color;
        }
    }
    &__item {
        // margin: 0 15px;
        position: relative;
        padding-left: 26px;
        &:last-child {
            color: $default-lighter-color;
        }
    }
    &__item + .breadcrumbs__item {
        margin-left: 15px
    }
    &__item + .breadcrumbs__item::before {
        position: absolute;
        content: '';
        width: 12px;
        height: 12px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background-image: url(../img/icons/angle-right.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 10px;
    }
    &__link {
        color: $accent-color;
    }
}