// @media (max-width: 1200px) {
// уже не нужно, т.к. макет шириной 1170px, т.е. взалит в этот брейкпоинт
// главное, чтобы между 1170px и 992px все было ок
// }

.burger-btn {
    display: none;
}

.top-slider__img {
    width: 50%;
    object-fit: cover;
}

.menu__list--active {
    z-index: 1;
}


@media (max-width: 1300px) {
    .advantages__list::before {
        left: 0;
    }
    .advantages__list::after {
        right: 0;
    }
    .blog-box::before {
        right: 0;
    }
    .blog-page-content {
        width: 60%;
    }
    .blog-page-aside {
        width: 37%;
    }
}

@media (max-width: 1200px) {
    .top-slider__container {
        padding-left: 15px;
    }
    .blog-box__info {
        flex-direction: column;
        align-items: start;
    }
}

@media (max-width: 992px) {
    .menu {
        order: 1;
        margin-left: 30px;
    }
    .menu__list {
        // display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        justify-content: end;
        transform: translateY(-600%);
        transition: all .3s;
        background-color: #fff;
        border-top: 1px solid #ececec;
        border-bottom: 1px solid #ececec;
        padding: 10px 10px;
        justify-content: center;
        &--active {
            transform: translateY(0);
        }
    }
    .burger-btn {
        cursor: pointer;
        width: 28px;
        height: 28px;
        background-color: transparent;
        border: none;
        padding: 0;
        display: flex;
        align-items: center;
        position: relative;
        &::after, &::before {
            content: '';
            position: absolute;
            height: 2px;
            width: 100%;
            background-color: $default-dark-color;
            left: 0;
            transition: all .3s;
        }
        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
        }
        span {
            background-color: $default-dark-color;
            height: 2px;
            width: 100%;
            display: block;
            transition: all .3s;
        }
        &--active {
            &::before {
                top: 50%;
                transform: translateY(-50%) rotate(45deg);
            }
            &::after {
                bottom: 50%;
                transform: translateY(50%) rotate(-45deg);
            }
            span {
                opacity: 0;
            }
        }
    }
    .user-nav {
        margin-left: auto;
    }
    .header__wrapper {
        position: relative;
    }

    .footer-top {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .footer-top__subscribe {
        width: 60%;
        margin-top: 30px;
    }
    .footer-top__contact {
        width: 30%;
    }
    .footer-top__info {
        width: 30%;
    }
    .top-slider__title {
        font-size: 48px;
        line-height: 52px;
    }
    .top-slider__img {
        margin-right: -15px;
        // width: 40%;
    }
    .top-slider__content {
        // width: 60%;
    }
    .section-title {
        font-size: 38px;
    }
    .top-categories__list {
        grid-template-columns: repeat(2, 1fr);
    }
    .top-categories__item:nth-child(1) {
        grid-row: auto;
    }
    .top-categories__item:nth-child(2) {
        grid-column: auto;
        display: block;
    }
    .top-categories__item {
        background-position: top right;
        padding: 30px;
    }
    .blog-page-wrapper {
        flex-direction: column;
    }
    .blog-page-content {
        width: 100%;
    }
    .blog-page-aside {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        .search {
            width: 100%;
        }
        .person-box {
            width: 40%;
        }
        .latest-post-box {
            width: 60%;
        }
        .category-filter {
            width: 50%;
        }
        .popular-tags {
            width: 50%;
        }
    }
}

@media (max-width: 768px) {
    .footer-top__contact {
        width: 100%;
    }
    .footer-top__subscribe {
        width: 100%;
    }
    .footer-top__info {
        margin-top: 30px;
    }
    .footer-top {
        justify-content: start;
    }
    .top-slider__content {
        // width: 80%;
    }
    .advantages__list {
        display: block;
    }
    .advantages__item {
        padding: 30px 20px;
    }
    .top-categories__list {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        grid-gap: 15px;
    }
    .top-categories__item {
        background-position: center center;
    }
    .video__wrapper {
        // display: block;
        flex-direction: column;
        row-gap: 30px;
    }
    .video__box {
        width: 100%;
        height: 220px;
    }
    .video__descr {
        width: 100%;
    }
    .product-box {
        grid-template-columns: repeat(2, 1fr);
    }
    .brands__list {
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 40px;
        row-gap: 20px;
    }
    .blog-box {
        flex-direction: column;
    }
    .blog-box__item {
        display: flex;
    }
    .blog-page-item__img-link img, 
    .blog-page-item .blog-page-item__img-popup img {
        height: 300px;
    }
    .blog-page-item__img-slider img {
        height: 300px;
    }

}

@media (max-width: 576px) {
    .header__wrapper {
        flex-wrap: wrap;
    }
    .user-nav {
        width: 100%;
        margin-top: 30px;
    }
    .menu {
        order: 0;
    }
    .user-nav__list {
        // justify-content: center;
    }
    .menu__list {
        transform: translateY(-700%);
        flex-direction: column;
        align-items: center;
        &--active {
            transform: translateY(0);
        }
    }
    .menu__item + .menu__item {
        margin-left: 0;
        margin-top: 15px;
    }
    .footer-top__info {
        width: 100%;
    }
    .footer-bottom {
        flex-wrap: wrap;
    }
    .accept {
        margin-top: 15px;
    }
    .footer-top__list--slide {
        display: none;
        // display: none будет по умолчанию для экранов не шире 576px
        // slideToggle() будет инлайново переопределять это св-во
    }
    .footer-title--slide {
        position: relative;
        padding-left: 20px;
        &:hover {
            color: $accent-color;
            cursor: pointer;
            &::after {
                border-bottom: 8px solid $accent-color;
            }
        }
    }
    .footer-title--slide::after {
        content: '';
        position: absolute;
        top: 33%;
        // transform: translateY(-50%);
        left: 0;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 8px solid $default-dark-color;
        transition: transform 0.3s ease;
    }
    .footer-title--slide-active::after {
        transform: rotate(180deg);
    }
    .top-slider__content {
        width: 100%;
    }
    .top-slider__title {
        font-size: 38px;
        line-height: 42px;
    }
        .top-slider .slick-dots {
        right: 15px;
        left: auto;
        transform: translateX(0);
    }
    .top-slider .slick-slide img {
        display: none;
    }
    .section-title {
        font-size: 28px;
    }
    .product-box {
        grid-template-columns: repeat(1, 1fr);
    }
    .product-item__img {
        margin: 0 auto;
    }
    .sale-timer {
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 28px;
        row-gap: 20px;
    }
    .blog-box__item {
        flex-direction: column;
    }
    .blog-box__img-link img {
        width: 100%;
        height: 220px;
    }
    .footer-top__form {
        flex-direction: column;
    }
    .page-404__wrapper {
        flex-direction: column;
    }
    .page-404__content {
        margin-bottom: 50px;
    }
    .page-404__img {
        width: 80%;
    }
    .blog-page-aside {
        .person-box {
            width: 100%;
        }
        .latest-post-box {
            width: 100%;
        }
        .latest-post__item {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: auto;
        }
        .latest-post__link-img {
            grid-row: auto;
        }
        .latest-post__link-title {
            grid-column: auto;
        }
        .latest-post__date {
            grid-column: auto;
        }
        .category-filter, .popular-tags {
            width: 100%;
        }
    }
    
}
