@import '_vars.scss';
@import '_fonts.scss';
@import '_reset';
@import '_global.scss';

.header {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 0;
        background-color: #fff;
    }
}

.menu {
    &__list {
        display: flex;
    }
    &__item + .menu__item {
        margin-left: 38px;
    }
    &__link {
        color: $default-dark-color;
        text-transform: uppercase;
        padding: 2px;
        transition: all .3s;
        font-family: 'Roboto-Regular', sans-serif;
        &:hover {
            color: $accent-color;
            border-bottom: 1px solid $accent-color;
        }
    }
    &__link--active {
        color: $accent-color;
        border-bottom: 1px solid $accent-color;
    }
}

.user-nav {
    &__list {
        display: flex;
    }
    &__item + .user-nav__item {
        margin-left: 25px;
    }
    &__link {
        height: 20px;
        width: 20px;
        background-image: url(../img/icons/user.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 20px 20px;
        display: block;
        position: relative;
    }
    &__item:nth-child(2) .user-nav__link {
        background-image: url(../img/icons/search.svg);
    }
    &__item:nth-child(3) .user-nav__link {
        background-image: url(../img/icons/heart.svg);
    }
    &__item:nth-child(3) .user-nav__link {
        background-image: url(../img/icons/cart.svg);
    }
    &__number {
        position: absolute;
        height: 20px;
        width: 20px;
        background-color: $accent-color;
        border-radius: 50%;
        top: -50%;
        right: -50%;
        color: #fff;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
    }
}

// _media.scss всегда в конце
@import '_media.scss'
