@import '_vars.scss';
@import '_fonts.scss';
@import '_reset';
@import '_global.scss';

.logo-link {
    display: block;
}

// header

.header {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 0;
        background-color: #fff;
    }
}

.menu {
    &__list {
        display: flex;
    }
    &__item + .menu__item {
        margin-left: 38px;
    }
    &__link {
        color: $default-dark-color;
        text-transform: uppercase;
        padding: 2px;
        transition: all .3s;
        font-family: 'Roboto-Regular', sans-serif;
        font-weight: 400;
        &:hover {
            color: $accent-color;
            border-bottom: 1px solid $accent-color;
        }
    }
    &__link--active {
        color: $accent-color;
        border-bottom: 1px solid $accent-color;
    }
}

.user-nav {
    &__list {
        display: flex;
    }
    &__item + .user-nav__item {
        margin-left: 25px;
    }
    &__link {
        height: 20px;
        width: 20px;
        background-image: url(../img/icons/user.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 20px 20px;
        display: block;
        position: relative;
    }
    &__item:nth-child(2) .user-nav__link {
        background-image: url(../img/icons/search.svg);
    }
    &__item:nth-child(3) .user-nav__link {
        background-image: url(../img/icons/heart.svg);
    }
    &__item:nth-child(3) .user-nav__link {
        background-image: url(../img/icons/cart.svg);
    }
    &__number {
        position: absolute;
        height: 20px;
        width: 20px;
        background-color: $accent-color;
        border-radius: 50%;
        top: -50%;
        right: -50%;
        color: #fff;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
    }
}

// main

// top-slider

.top-slider {
    background-color: $bg-gray;
    background-image: url(../img/slider/bg-slider.png);
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 632px;
    &__container {
        max-width: 1460px;
        margin: 0 auto;
        padding: 0 15px;
        padding-left: 145px;
        border: 1px dotted #ccc;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__content {
        max-width: 570px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }
    &__title {
        font-family: 'Roboto-Bold', sans-serif;
        font-weight: 700;
        font-size: 58px;
        line-height: 68px;
        color: $default-dark-color;
        margin-bottom: 40px;
    }
    &__text {
        margin-bottom: 60px;
    }
    &__btn {
        display: inline-block;
    }
    .slick-dots {
        display: flex;
        justify-content: center;
        margin-top: -70px;
        li {
            margin: 0 5px;
        }
        button {
            width: 28px;
            height: 28px;
            color: transparent;
            // font-size: 0;
            // line-height: 0;
            border-radius: 50%;
            // border: 1px solid $default-light-color;
            border: none;
            background-color: transparent;
            cursor: pointer;
            position: relative;
            &::before {
                position: absolute;
                content: '';
                width: 6px;
                height: 6px;
                background-color: $default-light-color;
                border-radius: 50%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        li.slick-active button {
            border: 1px solid $accent-color;
            &::before {
                background-color: $accent-color;
            }
        }
    }
}

// info

.info {
    padding: 110px 0;
    background-image: url(../img/decor/info-left.png),
    url(../img/decor/info-right.png);
    background-repeat: no-repeat, no-repeat;
    background-position: top 310px left, top 310px right;
    background-size: initial;
}

// advantages

.advantages {
    &__list {
        display: flex;
        justify-content: space-between;
        padding: 0px 0px;
        margin-bottom: 110px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            top: -44px;
            left: -44px;
            width: 122px;
            height: 122px;
            background-image: url(../img/decor/advantages-left-icon.svg);
            background-repeat: no-repeat;
            background-position: center center;
            z-index: -1;
        }
        &::after {
            content: '';
            position: absolute;
            right: -50px;
            bottom: -56px;
            width: 122px;
            height: 122px;
            background-image: url(../img/decor/advantages-right-icon.svg);
            background-repeat: no-repeat;
            background-position: center center;
            z-index: -1;
        }
    }
    &__item {
        width: 370px;
        padding: 60px 40px;
        box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
        background-color: #fff;
    }
    &__img {
        width: 60px;
        height: 60px;
        background-color: #ffb534;
        background-image: url(../img/decor/car.png);
        background-repeat: no-repeat;
        background-position: center center;
        margin-bottom: 40px;
    }
    &__item:nth-child(2) .advantages__img {
        background-color: #34c3ff;
        background-image: url(../img/decor/circle.png);
    }
    &__item:nth-child(3) .advantages__img {
        background-color: #fe3e57;
        background-image: url(../img/decor/hand.png);
    }
    &__title {
        font-family: 'Roboto-Regular', sans-serif;
        font-weight: 400;
        font-size: 22px;
        line-height: 26px;
        color: $default-dark-color;
        margin-bottom: 20px;
    }
}

// top-categories

.top-categories {
    padding: 0px 0px;
    &__text {
        max-width: 570px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 55px;
    }
    &__list {
        display: grid;
        min-height: 635px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 30px;
    }
    &__item  {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        padding: 40px;
        &:nth-child(1) {
            grid-row: span 2;
            // занимает 2 ряда (из 2-х), с того места где находится
            .top-categories__item-accent {
                color: #5800e4;
            }
            .top-categories__item-link:hover {
                color: #5800e4;
                text-decoration: underline;
            }
        }
        &:nth-child(2) {
            grid-column: span 2;
            // занимает 2 колонки (из 3-х), с того места где находится
            display: flex;
            flex-direction: column;
            justify-content: center;
            .top-categories__item-accent {
                color: #fe3e57;
            }
            .top-categories__item-link:hover {
                color: #fe3e57;
                text-decoration: underline;
            }
        }
        &:nth-child(3) {
            .top-categories__item-accent {
                color: #ffb534;
            }
            .top-categories__item-link:hover {
                color: #ffb534;
                text-decoration: underline;
            }
        }
        &:nth-child(4) {
            .top-categories__item-accent {
                color: #34c3ff;
            }
            .top-categories__item-link:hover {
                color: #34c3ff;
                text-decoration: underline;
            }
        }
     }
     &__item-accent {
        margin-bottom: 8px;   
     }
     &__item-title {
        font-family: 'Roboto-Medium', sans-serif;
        font-weight: 500;
        font-size: 22px;
        line-height: 26px;
        color: $default-dark-color;
        margin-bottom: 10px;
     }
     &__item-link {
        font-family: 'Roboto-Regular', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        color: $default-dark-color;
        text-transform: uppercase;
        transition: all .3s;
     }
}

// video

.video {
    background-color: $bg-gray;
    background-image: url(../img/decor/pattern-bg-video.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 120px 0;
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__box {
        max-width: 535px;
        width: 100%;
        height: 480px;
        display: flex;
        justify-content: center;
        align-items: center;
        // background-image: url(../img/video-preview.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
    &__descr {
        max-width: 570px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }
    &__descr-accent {
        color: $accent-color;
        font-family: 'Quicksand-Medium', sans-serif;
        font-weight: 500;
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 25px;
    }
    &__descr-text {
        margin-bottom: 60px;
    }
}

// trending-product

.trending-product {
    padding: 120px 0;
    text-align: center;
    &__text {
        margin-bottom: 60px;
    }
}

.product-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 45px 30px;
    margin-bottom: 60px;
}

.product-item {
    max-width: 370px;
    &__img-box {
        position: relative;
        overflow: hidden;
        margin-bottom: 30px;
    }
    &__img {
        object-fit: cover;
        // типа background-size: cover, но для img вставленной в html
        width: 370px;
        height: 370px;
    }
    &__link-box {
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translate(-50%, 200%);
        background-color: #fff;
        padding: 15px 5px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        box-shadow: 0px 5px 30px 0px rgba(152, 152, 152, 0.2);
        border-radius: 22px;
        transition: all .3s;
        // transform: translateY(300%);
    }
    &__link {
        width: 70px;
        display: flex;
        justify-content: center;
    }
    &__link {
        path {
            transition: all .3s;
        }
    }
    &__link:hover {
        path {
            fill: $accent-color;
        }
    }
    &__link + .product-item__link {
        border-left: 1px solid #ececec;
    }
    &:hover {
        cursor: pointer;
        .product-item__link-box {
            transform: translate(-50%, 0);
        }
    }
    &__stars-box {
        margin-bottom: 20px;
    }
    &__title {
        margin-bottom: 20px;
        font-family: 'Roboto-Regular', sans-serif;
        font-weight: 400;
        font-size: 22px;
        line-height: 26px;
        color: $default-dark-color;
        text-align: center;
    }
    &__price {
        display: flex;
        justify-content: center;
        font-family: 'Roboto-Regular', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #ccccce;
    }
    &__old-price {
        margin: 0 15px;
        text-decoration: line-through;
    }
    &__actual-price {
        margin: 0 15px;
        color: $default-dark-color;
        font-family: 'Roboto-Medium', sans-serif;
        font-weight: 500;
        text-decoration: none;
    }
    &--sale {
        .product-item__img-box::before {
            content: 'sale';
            position: absolute;
            top: 25px;
            left: 25px;
            padding: 5px 10px;
            text-transform: uppercase;
            color: #fff;
            background-color: $accent-color;
            font-family: 'Roboto-Regular', sans-serif;
            font-weight: 400;
            box-shadow: 0px 7px 20px 0px rgba(254, 62, 87, 0.25);
        }
    }
}

// sale

.sale {
    background-image: url(../img/bg-sale.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 130px 0;
    &__content {
        max-width: 570px;
        margin-left: auto;
        text-align: center;
    }
    &__accent {
        color: $accent-color;
        text-transform: uppercase;
        font-family: 'Quicksand-Medium', sans-serif;
        font-weight: 500;
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 25px;
        display: inline-block;
    }
    .default-btn {
        margin-top: 50px;
    }
    .section-title {
        margin-bottom: 55px;
    }
}

// sale-timer

.sale-timer {
    display: flex;
    justify-content: space-between;
    &__item {
        background-color: #fff;
        height: 120px;
        width: 120px;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        box-shadow: 0px 10px 40px 0px rgba(187, 187, 187, 0.3);
        span {
            font-family: 'Roboto-Bold', sans-serif;
            font-weight: 700;
            font-size: 48px;
            line-height: 26px;
            color: $default-dark-color;
            margin-bottom: 8px;
            margin-top: 12px;
            display: block;
        }
    }
}


// brands

.brands {
    padding: 100px 0;
    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

// blog

.blog {
    padding: 10px 0 110px 0;
    background-image: url(../img/blog/decor-bg.svg);
    background-repeat: no-repeat;
    background-position: top 330px center;
    &__text {
        text-align: center;
        margin-bottom: 60px;
    }
}

// blog-box

.blog-box {
    display: flex;
    justify-content: space-between;
    position:relative;
    &::before {
        content: '';
        position: absolute;
        top: -70px;
        right: -30px;
        width: 140px;
        height: 140px;
        background-image: url(../img/decor/blog-right-top.svg);
        background-repeat: no-repeat;
        background-position: center center;
        z-index: -1;
    }
    &__item {
        max-width: 370px;
        border: 1px solid #ececec;
        transition: all .3s;
    }
    &__item:hover {
        box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
        border: none;
        .blog-box__link {
            color: $accent-color;
            &::before {
                background-image: url(../img/decor/blog-arrow-accent.svg);
            }
        }
    }
    &__img-link {
        display: block;
        img {
            object-fit: cover;
            // всегда надо делать для img, т.к. могут быть разные
            width: 370px;
            height: 280px;
            // самой картинке задается width и height,
            // а ее родителю max-width
        }
    }
    &__item-content {
        padding: 40px 30px;
    }
    &__info {
        margin-bottom: 22px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__author-link, &__date {
        color: $default-light-color;
        position: relative;
        padding-left: 30px;
        &::before {
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            background-image: url(../img/decor/blog-user.svg);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 20px;
        }
    }
    &__date::before {
        background-image: url(../img/decor/blog-clock.svg);
    }
    &__title-link {
        display: block;
        margin-bottom: 22px;
        font-family: 'Roboto-Regular', sans-serif;
        font-weight: 400;
        font-size: 22px;
        line-height: 32px;
        color: $default-dark-color;
    }
    &__link {
        display: inline-block;
        color: $default-light-color;
        position: relative;
        padding-right: 20px;
        transition: all .3s;
        &::before {
            content: '';
            position: absolute;
            height: 12px;
            width: 12px;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            background-image: url(../img/decor/blog-arrow.svg);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 10px;
        }
    }
}

// top

.top {
    &__wrapper-img {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    // height: 354px;
    max-width: 1700px;
    margin: 0 auto;
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 354px;
    }
}

// login

.login {
    padding: 120px 0;
    &__titles {
        display: flex;
        justify-content: center;
        font-family: 'Roboto-Regular', sans-serif;
        font-weight: 400;
        font-size: 22px;
        line-height: 32px;
        color: #ccccce;
        text-transform: uppercase;
        margin-bottom: 50px;
        a {
            color: $accent-color;
        }
    }
    &__titles-item {
        margin: 0 30px;
    }
}

.login-form {
    max-width: 570px;
    margin: 0 auto;
    &__label {
        margin-bottom: 40px;
        display: block;
    }
    &__input {
        display: block;
        width: 100%;
        border: none;
        background-color: $bg-gray;
        padding: 15px 10px;
    }
    .dark-btn {
        display: block;
        width: 100%;
    }
    &__forgot {
        margin-top: 10px;
        color: $accent-color;
        display: inline-block;
    }
}

// footer

.footer {
    background-color: $bg-gray;
}

.footer-title {
    margin-bottom: 40px;
    font-size: 22px;
    line-height: 36px;
    color: $default-dark-color;
    font-family: 'Roboto-Medium', sans-serif;
    font-weight: 500;
}

.footer-top {
    padding: 70px 0 40px 0;
    border-bottom: 1px solid #ececec;
    display: flex;
    &__item {
        // border: 1px dotted red;
    }
    &__item + .footer-top__item {
        margin-left: 30px;
    }
    &__contact {
        width: 270px;
    }
    &__contact .footer-top__list {
        margin-bottom: 30px;
    }
    &__info {
        width: 170px;
    }
    &__subscribe {
        max-width: 470px;
    }
    &__subscribe p {
        margin-bottom: 30px;
    }
    &__list-link {
        font-size: 16px;
        // line-height: 36px;
        margin-bottom: 15px;
        display: block;
        color: $default-light-color;
        font-family: 'Quicksand-Medium', sans-serif;
        font-weight: 500;
    }
    &__list-link:hover {
        text-decoration: underline;
    }
    &__form {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__form-input {
        background-color: #fff;
        padding: 15px 20px;
        max-width: 320px;
        width: 100%;
        border: none;
        box-shadow: 0px 7px 20px 0px rgba(192, 192, 192, 0.3);
    }
}

.footer-bottom {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.accept {
    display: flex;
    align-items: center;
    &__list {
        display: flex;
    }
    &__item {
        margin-left: 22px;
    }
}

.social-list {
    display: flex;
    &__item + .social-list__item {
        margin-left: 20px;
    }
    &__link path {
        fill: $default-light-color;
    }
    &__link:hover {
       path {
        fill: $accent-color;
    } 
    }
}


// _media.scss всегда в конце
@import '_media.scss'
